
@import "normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');


*{
    color: #364C63;
    direction: rtl;
    font-family: 'Tajawal', sans-serif;
    margin: 0;
    padding: 0;
    color:#364C63 ;
}


body{
    height: 2000px;
}


.wrap{
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;

}

/* start navbar */ 
.navbar{
    background-color:#E9E3D7 ;
    margin: 0;
    padding: 0;
    color: #364C63;
    font-size: 18px;
    width: 100%;
}


.navbar .navbar-nav .user-icon{
    margin-right: 30px;
}

.navbar .navbar-nav .user-icon img{
  width: 36px;
  height: 36px;
}

.navbar .navbar-nav .dropdown{
    margin-right: 25px;
}

.navbar .navbar-nav .dropdown .dropdown-menu{
    width: 250px;
    text-align: right;
    padding: 0;
    background-color: #e9e3d7a4;
    margin-top: 14px;
}



.navbar .navbar-nav .dropdown .dropdown-item:hover{
    background-color: #364C63;
    color: white;
}

.navbar .navbar-nav .dropdown .dropdown-menu img{
    margin-left: 10px;
      
}

.navbar .navbar-nav .notvigation-icon{
    margin-left: auto;
    margin-right: 25px;
    
}

.navbar .navbar-nav .notvigation-icon img{
   width: 21px;
   height: 25px;
}

.navbar .navbar-nav #add-post{
    margin-left: 70px;
}

.navbar .navbar-nav #add-post a{
    border: 2px solid #364C63;
    border-radius: 10px;
    width: 180px;
    padding-right: 7px;
    padding-top: 5px;
    padding-bottom:5px;
}

.navbar .navbar-nav #add-post img{
    margin-right: 39px;
}
/* end navbar */ 

/* start header*/
.nav-footer{
    height: 70px;
    padding: 14px;
    background-color: #364C63;
}
.nav-footer .row .search{
    width: 55%;
}

.nav-footer .row .search input{
    width: 100%;
    padding: 8px;
    padding-right: 32px;
    background-image: url(/Dallal/static/icon/search-24px.svg);
    background-position: right .65rem center;
    background-repeat: no-repeat;
}

.nav-footer .row .select {
    position: relative;
    width: 23%;
    margin-right: 1%;
}

.nav-footer .row .select .form-control{
    width: 100%;
    padding: 8px;
    padding-right: 32px;
    background-image: url(/Dallal/static/icon/dropdown.svg);
    background-position: left .60rem center;
    background-repeat: no-repeat;   
}

.nav-footer .row .select .map-icon {
    position: absolute;
    width: 18px;
    height: 18px;
    left:224px;
    bottom: 12px;
    z-index: 1;    
}


.nav-footer .row .button{
    width: 18%;
    margin-right: 3%;
}

.nav-footer .row button{
    width: 100%;
    background-color: #F3B340 ;
    color: #364C63;
}

/* end header */

 /* start catagories */

.catagories .catagory-title{
    font-size: larger;
    font-weight: bold;  
}



.catagories .catagory-icons .icons {
    width: 16.6%;
    position: relative;
    margin-top: 40px;
}

.catagories .catagory-icons .icons a{
    position: relative;
    transition: all .5s ease;
    margin: 0;
    width: 79%;
    height: 79%;
}

.catagories .catagory-icons .icons a:hover{
    transform: scale(1.1);
}

.catagories .catagory-icons .icons .icon{
    border: 1px solid #364C63;
    width: 85px;
    height: 85px;
}


.catagories .catagory-icons .icons .icon img{
    position: absolute;
    right: 33px;
    top: 26px;
    width: 48px;
    height: 48px;
    z-index: 1;
}

.catagories .icons .icon-name{
    font-size: 20px;
    position: absolute;
    width: 100px;
    top: 105px;
    right: 25px;
    z-index: 1;
    
}
.catagories .icons .goods-home {
    top: 105px;
    right: 18px;
    z-index: 1;
    
}

.catagories .icons .motor-cycle{
    top: 105px;
    right: 13px;
    z-index: 1;
}

.catagories .icons .apartment, .catagories .icons .smartphone {
    top: 105px;
    right: 33px;
    z-index: 1;
    
}
.catagories .icons .electronic-icon{
    top: 105px;
    right: 16px;
}



 /* end catagories */

 /* start content-page  */


 .content .filter-box {
    width: 24%;
    height: 425px;
    margin-top: 80px;
 }


 .content .filter-box .filter-border{
    padding: 20px 20px 20px 0;
    border: 1px solid #364C63;
    border-radius: 7px;
 }

 .content .filter-box .filter-border .input-number{
    width: 40%;
    height: 41px;
    display: inline-block;
    margin-left: 12px;
    margin-top: 10px;
 }
 

 .content .filter-box .filter{
    margin-top: 70px;
 }

 .content .filter-box .filter h5{
     margin-bottom: 20px;
     font-size: 20px;
 }
 .content .filter-box .filter .choose{
     margin-top: 10px;
 }

 .content .filter-box .filter .choose span{
    margin-right: 15px;
    font-size: 17px;
    cursor: pointer;
 }

 .content .filter-box .submit-filter {
     margin-top: 15px;
 }

 .content .filter-box .submit-filter .button{
    width: 100%;
    background-color: #364C63;
    color: white;
 }


.content .ads-boxes {
   width: 74%;
   margin-top: 40px; 
}

.content .ads-boxes .box{
    width: 33%;
    margin-top: 40px;
}

.content .ads-boxes .card{
    border-radius: 15px;
    position: relative;
    width: 99%;
    height: 260px;
    margin-left: 50px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.3);    
}

.content .ads-boxes .card .inner{
    height: 165px;
    overflow: hidden;
    
}
.content .ads-boxes .card .inner img {
    transition: all 1.5s ease;
    height: 100%;
}
.ads-boxes .card .inner:hover img{
    transform: scale(1.5);

}

.content .ads-boxes .card .favorite-icon{
    position: absolute;
    width: 50px;
    height: 50px;
    top: 5px;
    right: 5px;
    z-index: 2;
}

.content .ads-boxes .card .card-body{
    position: relative;
}

.content .ads-boxes .card .card-body h5{
    position: absolute;
    right: 10px;
    top: 15px;
    font-size: 20px;
    font-weight: bold;

}
.content .ads-boxes .card .card-text{
    position: absolute;
    right: 10px;
    bottom: 2px;
    font-size: 22px;
    font-weight: bold;
    z-index: 1;
}

.content .ads-boxes .card .time{
    position: absolute;
    left: 12px;
    bottom: 5px;
    z-index: 1;
}
 /* end content-page */


 /* start footer */
 .footer {
    width: 100%;
    background-color:#E9E3D7;
    color: #fff;
    margin-top: 100px;
    
  }
.footer .row {
    padding-top:  30px;
    padding-bottom: 20px;
}

.footer .row > div{
    width: 25%;

}

.footer .row > div h4{
    margin: 0;
    margin-bottom: 9px;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
}
.footer .row > div a{
    color: #364C63;
    padding: 0;
    font-size: 16px;
}

.footer .row > div a:hover{
    color: black;
}

.footer .row .fab{
    color: #F3B340;
    margin-top: 10px;   
}

.footer .copyright {
    text-align: center;
    width: 100%;
    background-color: #364C63;
    
}
.footer .copyright small{
    color: #fff;
    font-size: 15px;
}

/* End footer */

/* start media Query */

@media (min-width:992px) and (max-width:1200px){
    .container{
        max-width: 1200px;
    }

    .catagories .row{
        margin-right: 10px;
    }
    .content .ads-boxes .row .box{
        height: 255px;
    }

    .content .ads-boxes .row .card .card-body h5{
        font-size: 18px;
    }
    .content .ads-boxes .row .card .card-text{
        font-size: 20px;

    }
    .footer .row .social-media a{
        margin-left: 10px;
    }
}




@media (min-width:768px) and (max-width:992px){
    .container{
        max-width:992px ;
    }

    .nav-footer .row .search{
        width: 50%;
        margin: 0;
    }

    .nav-footer .row .select {
        width: 28%;
        margin: 0;
    }

    .nav-footer .row .button{
        width: 20%;
        margin: 0;
    }

    .catagories .catagory-icons {
        margin-right: 0;  
    }
 

    .content .filter-box {
        width: 25%;
        height: 425px;
        margin-top: 80px;
     }
     .content .container{
         max-width: 992px;
     }
     .content .ads-boxes {
        width: 75%;
        margin-top: 40px; 
     }
     
     .content .ads-boxes .box{
         width: 33%;
         margin-top: 40px;
         height: auto;
     }

     .content .ads-boxes .row .card{
         height: 240px;
     }


    .content .ads-boxes .row .card .card-body h5{
        font-size: 18px;
        top: 10px;
        right: 5px;
    }
    .content .ads-boxes .row .card .card-text{
        font-size: 14px;
        bottom: 5px;
    }

    
    .content .ads-boxes .card .time{
        font-size: 13px;
    }

    .footer .row > div{
        width: 25%;
    
    }


    
}

@media (min-width:576px) and (max-width:768px){
    .container{
        max-width:768px ;
    }


    .nav-footer .row .search{
        width: 40%;
        margin: 0;
    }

    .nav-footer .row .select {
        width: 35%;
        margin: 0;
    }

    .nav-footer .row .button{
        width: 23%;
        margin: 0;
    }

    .content .filter-box {
        width: 30%;
        height: 425px;
        margin-top: 80px;
     }
     .content .container{
         max-width: 992px;
     }
     .content .filter-box .filter-border{
        padding: 5px 5px 5px 0;
     }
     .content .filter-box .filter-border .input-number{
        margin-left: 5px;

     }
     .content .ads-boxes {
        width: 70%;
        margin-top: 40px; 
     }
     
     .content .ads-boxes .box{
         width: 50%;
         margin-top: 40px;
         height: auto;
     }

     .content .ads-boxes .row .card{
         height: 240px;
     }

    .content .ads-boxes .row .card .card-body h5{
        font-size: 19px;
        top: 10px;
        right: 5px;
    }
    .content .ads-boxes .row .card .card-text{
        font-size: 16px;
        bottom: 5px;
    }

    
    .content .ads-boxes .card .time{
        font-size: 14px;
    }


    .catagories .catagory-icons {
        margin-right: 0;  
    }
    

    .catagories .catagory-icons .icons {
        width: 33%;
    }


    .footer .row > div{
        width: 50%;
    
    }

    .footer .row .information{
        margin-top: 20px;
    }

    .footer .row .social-media{
        margin-top: 20px;
    }
  
}

@media (max-width:576px){
    .container{
        max-width:576px ;
    }
    .nav-footer .row .search{
        width: 60%;
        margin: 0;
    }

    .nav-footer .row .select {
        display: none;
    }

    .nav-footer .row .button{
        width: 40%;
        margin: 0;
    }

    .content .filter-box {
        display: none;
     }

     .content .ads-boxes {
        width: 100%;
        margin-top: 40px; 
     }
     
     .content .ads-boxes .box{
         width: 50%;
         margin-top: 40px;
         height: auto;
     }

     .content .ads-boxes .row .card{
         height: 240px;
     }



    .content .ads-boxes .row .card .card-body h5{
        font-size: 18px;
        top: 10px;
        right: 5px;
    }
    .content .ads-boxes .row .card .card-text{
        font-size: 17px;
        bottom: 5px;
    }

    .content .ads-boxes .row .card .time{
        font-size: 15px;
        bottom: 5px;
    }


    .catagories{
        height: 260px;
    }
    
    .catagories .catagory-icons {
        margin-right: 0;     
    }
    
    .catagories .catagory-icons .icons {
        width: 33%;
        
    }
    
    .catagories .catagory-icons .icons .icon{
        width: 75px;
        height: 75px;
    }
    
    
    .catagories .catagory-icons .icons .icon img{
        right: 32px;
        top: 24px;
        width: 42px;
        height: 42px;
        z-index: 1;
    }
    
    .catagories .icons .icon-name{
        font-size: 18px;
        width: 100px;
        top: 95px;      
    }

 
    



    .footer .row > div{
        width: 50%;
    
    }

    .footer .row .information{
        margin-top: 20px;
    }

    .footer .row .social-media{
        margin-top: 20px;
    }
  


}

@media (max-width:430px){
    .container{
        max-width:430px ;
    }
    .content .ads-boxes .box{
        width: 50%;
        margin-top: 40px;
        height: auto;
        padding: 0;
        padding-left: 2px;
    }


    

    .content .ads-boxes .row .card{
        height: 240px;
    }
    .content .ads-boxes .row .card .card-body h5{
        font-size: 15px;
    }
    .content .ads-boxes .row .card .card-text{
        font-size: 17px;

    }

    .content .ads-boxes .row .card .time{
        display: none;
    }

    .footer .row .social-media a{
        margin-left: 0px;
    }


}

/* end media */